node_modules
dist
.playwright-cli
.DS_Store
*.local
data/raw/safety/*.csv
data/raw/safety/*.json
data/raw/aed-locations/*.csv
data/raw/dengue-vector-density/*.csv
data/raw/evacuation-gates/*.csv
data/raw/evacuation-gates/*.json
data/raw/medical-facilities/*.csv
data/raw/medical-facilities/*.json
data/raw/fire-hydrants/*.csv
data/raw/fire-hydrants/*.json
.omx
